<div class="input-group">
    <input type="text" class="form-control" id="delete-reason" value="" placeholder="Reason">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
      <ul class="dropdown-menu delete-reason-choice">
        <li><a href="#">Choose reason for deleting</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#" data-value="Duplicate Event">Duplicate Event</a></li>
        <li><a href="#" data-value="Missing key information">Missing key information</a></li>
        <li><a href="#" data-value="Unable to verify">Unable to verify</a></li>
        <li><a href="#" data-value="Not a THP event type">Not a THP event type</a></li>
      </ul>
      <button type="button" class="btn btn-secondary" id="delete" data-id="{{eventId}}" data-path="{{path}}" data-toggle="tooltip" data-placement="top" title="For events that were canceled or wrong">Delete</button>
    </div><!-- /btn-group -->
</div><!-- /input-group -->

<button type="button" class="btn btn-warning" id="archive-button" data-id="{{eventId}}" data-path="{{path}}" data-toggle="tooltip"
  data-placement="top" title="To approve and immediately archive the event">Send to archive</button>
<button type="submit" class="btn btn-blue" id="approve-button" data-toggle="tooltip" data-placement="top" data-id="{{eventId}}" data-path="{{path}}" title="Will be published live to the site">Approve</button>
<span id="delete-error" class="help-block write-error error-message hidden">Please give a reason for deleting</span>
