<li id="{{id}}" class="event-row list-group-item {{lastUpdated}} {{chamber}} daysAgo daysAgo-{{daysAgo}}">
  <ul class="list-inline list-inline-separated">
    <li>{{name}}</li>
    <li>{{state}}</li>
    <li>{{lastUpdated}}</li>
    <li>{{lastUpdatedBy}}</li>
  </ul>
</li>
