  <section class="member-info text-info to-remove">
      <div class="form-group col-md-12">
        <label  for="displayName">Display Name</label>
        <input type="text" class="form-control input-underline moc-input" id="displayName" placeholder="Display name" value="{{displayName}}">
      </div>
      <div class="form-group col-md-12">
        <label  for="type">Chamber</label>
        <div class="input-group">
          <input type="text" class="form-control" aria-label="..." id="type" value="{{type}}" placeholder="Chamber" readonly>
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a data-value="sen" href="#">sen</a></li>
              <li><a data-value="rep" href="#">rep</a></li>
            </ul>
          </div><!-- /btn-group -->
        </div><!-- /input-group -->
      </div>
      <div class="form-group col-md-6">
        <label  for="state">State (abbr)</label>
        <input type="text" class="form-control input-underline moc-input" id="state" placeholder="Home State" value="{{state}}">
      </div>
      <div class="form-group col-md-6">
        <label  for="district">District Number</label>
        <input type="text" class="form-control input-underline moc-input" id="district" placeholder="District" value="{{district}}">
        <span id="helpBlock" class="help-block">A number, for Senate, leave blank</span>
      </div>
      <div class="form-group col-md-12">
        <label for="next_election">Next Election Year</label>
        <input type="text" class="form-control input-underline moc-input" id="next_election" placeholder="next election year" value="{{next_election}}">
      </div>
      <div class="form-group col-md-12">
        <label for="in_office">In Office?</label>
        <div class="input-group">
          <input type="text" class="form-control" aria-label="..." id="in_office" value="{{in_office}}" placeholder="is in office"
            readonly>
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a data-value="true" href="#">true</a>
              </li>
              <li>
                <a data-value="false" href="#">false</a>
              </li>
            </ul>
          </div>
          </div>
        </div>
        <div class="form-group party col-md-12">
          <label for="party">Party</label>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="..." id="party" value="{{party}}" placeholder="Party" readonly>
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <a data-value="Democratic" href="#">Democratic</a>
                </li>
                <li>
                  <a data-value="Republican" href="#">Republican</a>
                </li>
                <li>
                  <a data-value="Independent" href="#">Independent</a>
                </li>
              </ul>
            </div>
            <!-- /btn-group -->
          </div>
          <!-- /input-group -->
        </div>
        <!-- /form-group -->
        <div><h5>Properties</h5></div>
      <section id="new-fields">
      </section>
      <div class="form-group col-md-12">
        <div id="added-field"></div>
        <button type="button" name="addField" id="add-field" class="form-group">Add Field</button>
      </div>
  </section>
<button type="submit" name="button" class="to-remove">Update MOC data</button>
